#!/bin/sh
#
# /etc/rc.d/ntpd: start/stop ntp daemon
#

RUNDIR="/run/ntpd"
PIDFILE="$RUNDIR/ntpd.pid"
PROG="/usr/bin/ntpd"
ARGS="-g -u ntp:ntp -p $PIDFILE"

case $1 in
start)
	test -d $RUNDIR || mkdir $RUNDIR
	$PROG $ARGS
	;;
stop)
	kill $(cat $PIDFILE)
	;;
restart)
	$0 stop
	$0 start
	;;
status)
	ps -fp $(cat $PIDFILE)
	;;
*)
	echo "usage: $0 [start|stop|restart|status]"
	;;
esac

