#!/bin/sh
#
# /etc/rc.d/opensmptd: start/stop opensmtpd daemon
#

case $1 in
start)
  /usr/sbin/smtpd
  ;;
stop)
  /usr/bin/pkill smtpd
  ;;
restart)
  $0 stop
  sleep 2
  $0 start
  ;;
*)
  echo "usage: $0 [start|stop|restart]"
  ;;
esac

# End of file
