[Desktop Entry]
Name=Netscape Mail
Comment=Netscape Mail
Exec=Netscape -mail
Icon=/usr/lib/Netscape/chrome/icons/default/messengerWindow48.png
Categories=Application;Network;
