#!/bin/sh
#
# /etc/rc.d/clamsmtp: start/stop ClamAV smtp filter
#

pidfile=/var/run/clamsmtp.pid

case $1 in
start)
  /usr/sbin/clamsmtpd -f /etc/clamav/clamsmtpd.conf -p $pidfile
  ;;
stop)
  if [ -f "$pidfile" ]; then
     /usr/bin/pkill --pidfile $pidfile
  else
     echo "Service not running"
  fi
  ;;
restart)
  $0 stop
  sleep 2
  $0 start
  ;;
*)
  echo "usage: $0 [start|stop|restart]"
  ;;
esac

# End of file
