#!/bin/sh
PATH="/sbin:/usr/sbin:/bin:/usr/bin"

USER="spamd"
GROUP="spamd"
RUNDIR="/var/run/spamd"
PIDFILE="$RUNDIR/spamd.pid"
PROG="/usr/bin/spamd"
ARGS="--daemonize --max-children=5 --pidfile $PIDFILE --username=$USER --groupname=$GROUP --socketpath=$RUNDIR/spamd.sock --socketgroup=$GROUP --socketmode=660 --allow-tell --create-prefs --helper-home-dir --paranoid"

case $1 in
start)
	install -d -m 755 -o $USER -g $GROUP $RUNDIR || exit 1
	start-stop-daemon --start --pidfile $PIDFILE --exec $PROG -- $ARGS
	;;
stop)
	start-stop-daemon --stop --retry 60 --pidfile $PIDFILE
	;;
restart)
	$0 stop
	$0 start
	;;
status)
	start-stop-daemon --status --pidfile $PIDFILE
	case $? in
	0) echo "$PROG running with pid: $(cat $PIDFILE)" ;;
	1) echo "$PROG not running, stale pidfile: $PIDFILE" ;;
	3) echo "$PROG not running" ;;
	4) echo "Unable to determine program status" ;;
	esac
	;;
*)
	echo "usage: $0 [start|stop|restart|status]"
	;;
esac

